<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index Page</title>
	<style>
		a{
			color: white;
			background-color: brown;
			padding: 10px;
			border-radius: 10px;
			font-size: 20px;
			text-decoration: none;
		}
		.content{
			
			align-items: center;
			border: 2px solid rgb(192, 192, 192);
			background-color: aqua;
			border-radius: 20px;
			padding: 20px;
			display: flex;
			flex-direction: column;
			max-width: fit-content;
			margin: 200px auto 0 auto;

		}
	</style>
</head>
<body>
	<h1 th:text="'Welcome, ' + ${user}">Hello, User</h1>
	<a href="/logout">Logout</a>
	<a href="/dashboard/addstudent">Add Student</a>
	
	<div>
		<table border="1">
			<tr>
	            <th scope="col">SN</th>
	            <th scope="col">Roll Number</th>
	            <th scope="col">Name</th>
	            <th scope="col">Email</th>
	            <th scope="col">Branch</th>
	            <th scope="col">Update</th>
	        </tr>
	        </thead>
	        <tbody>

	        <tr th:each="student, stat : ${students}">
	            <th scope="row" th:text="${stat.index + 1}">1</th>
	            <td th:text="${student.rollNo}">1</td>
	            <td th:text="${student.studentName}">Joe</td>
				<td th:text="${student.studentEmail}">Joe@mail.com</td>
				<td th:text="${student.branch}">Branch</td>
					
	            <td><a href="" th:href="@{/dashboard/delete/{id}(id=${student.rollNo})}">Delete</a>
	            <a href="" th:href="@{/dashboard/update/{id}(id=${student.rollNo})}">Update</a></td>

	        </tr>
						
		</table>
	</div>
</body>
</html>
